<div class="app-footer border-0 shadow-lg bg-primary-gradiant">
    <a href="/" class="nav-content-bttn nav-center"><i class="feather-home"></i></a>
    <a href="/details" class="nav-content-bttn nav-center menu-icon" ><span class="dot-count bg-warning"></span><i class="feather-bell font-xl text-current" style="color:#fff!important"></i></a>
    <a  href="default-live-stream.html" class="nav-content-bttn" data-tab="chats"><i class="feather-layout"></i></a>            
    <a href="shop-2.html" class="nav-content-bttn"><i class="feather-layers"></i></a>
    <a href="/settings" class="nav-content-bttn"><img src="/images/female-profile.png" alt="user" class="w30 shadow-xss"></a>
</div>

</div> 

<script>
function myFunction() {
/* Get the text field */
let copyText = document.getElementById("myInput");

/* Select the text field */
copyText.select();
copyText.setSelectionRange(0, 99999); /* For mobile devices */

/* Copy the text inside the text field */
navigator.clipboard.writeText(copyText.value);

/* Alert the copied text */
alert("Copied the text: " + copyText.value);
}
</script>

<script src="/js/plugin.js"></script>
<script src="/js/scripts.js"></script>

</body>

</html>